@use 'variables' as v

#page-footer
  width: 100%
  text-align: center
  padding: 2rem v.$periodic-table-pad-x

  a:link
    color: inherit

  a:visited
    color: inherit

  a:hover
    color: #afafaf

