@use 'variables' as v

#page-footer
  width: 100%
  text-align: center
  padding: 2rem v.$periodic-table-margin-x
  a:link
    color: inherit
  a:visited
    color: inherit
  a:hover
    color: #afafaf
  @media screen and (min-width: 1316px) and (min-height: 870px)
    position: fixed
    bottom: 0
