@use 'variables' as v

.info-element
  padding: 1.5rem v.$periodic-table-pad-x
  font-size: 1.2rem
  height: fit-content

  &-text
    height: fit-content
    padding: 0.3rem
    letter-spacing: 0.01rem
    text-align: center
    &-heading
      padding: 1rem 0 0.7rem

  &-box
    height: 2 * v.$element-side
    border: 0.2rem solid v.$primary-color
    border-radius: 1rem
    aspect-ratio: 1 / 1
    margin: auto
    padding: 0.5rem
    &-atomic-number
      font-size: 1.4em
    &-symbol
      margin: -0.5rem 0 0
      font-size: 4.8em
      font-weight: 500
      text-align: center

  @media screen and (min-width: 768px)
    padding: 2.4rem 4.8rem
    display: flex
    flex-direction: row
    justify-content: center
    gap: 2rem

    &-box
      margin: 0

    &-text
      text-align: left
      &-heading
        padding-top: 0
