<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Periodic Table</title>
  <link rel="shortcut icon" href="../assets/favicon.ico" type="image/x-icon">
</head>

<body>
  <header id="page-header">
    <h1 id="page-header-heading">Periodic Table</h1>
  </header>
  <main id="page-main">
    <%- include('partials/info-elements.ejs', {elements}) %>
    <%- include('partials/table.ejs', {mainGroupElements, lanthanoids, actinoids}) %>
  </main>
  <footer id="page-footer">
    <p>Visit this project's <a href="https://github.com/amartinsmg/PeriodicTable">repository</a>.<br>
      Made by <a href="https://amartinsmg.github.io">amartinsmg</a>.
      <a href="https://www.flaticon.com/free-icons/hydrogen" title="hydrogen icons">Hydrogen icons created by Smashicons - Flaticon</a>.
    </p>
  </footer>
</body>

</html>